body{
    margin : 0;
    color : #2E3837;
    font-family: "Fira Sans";
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    height : 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 3vw;
    box-shadow: 4px 29px 38px 0px rgba(158,158,158,1);
}

.navbar-brand{
    display: flex;

}

.navbar-links{
   display: flex;
}

.navbar-links h3 a{
    color : #2E3837;
    text-decoration: none;
    margin-left: 10px;
}

.main{
    display: flex;
    padding: 0 3vw 0 3vw;
    justify-content: space-between;
}

.footer{
    display: flex;
    border: aquamarine solid 2px;
    justify-content: center;
}
.copyright{
    border: blue solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



#leftbox{
    height : 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 3vw;    
    border: blue solid 2px;
        

        

    






}