* {
	font-family: monospace !important;

}

body{
    margin : 0;
    color : #2E3837;
}
.container{
    height: 100vh;                                                                                                                                                                                                                                                                                                                                                                                                   
    justify-content: space-between;
}

.container-dept{
    height: 320vh;                                                                                                                                                                                                                                                                                                                                                                                                   
    justify-content: space-between;
    
}

.navbar{
    height : 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 3vw;
    background-color:#7ddace;
}

.navbar-brand{
    display: flex;

}

.navbar-links{
   display: flex;
   text-decoration: none;
}

.navbar-links h3 {
    color : #2E3837;
    text-decoration: none;
    margin-left: 10vh;
}
 a{
 	text-decoration: none;
 	color: #387d74;
 }

 @keyframes firstView{
 	0%{background-image: url("slider/service-5.jpg");}
 	50%{background-image: url("slider/service-2.jpg");}
 	100%{background-image: url("slider/service-3.jpg");}
 }

#firstView {
	margin: auto;
	height: 90vh;


	animation-name: firstView;
	animation-duration: 20s;
	animation-iteration-count: infinite; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
 	justify-content: center;
 	align-items: center;
 	
}

 #text{
 	color: #7ddace;
 	
 	border: 3px solid #387d74; 
 	width: 80vh;
 	text-align: center;

}


.sub-container{
	height: 55vh;
	position:relative;
	background-color: white;


}

section{
	width:45vh;
	height:5vh;
	float: left;
	margin-top: 2vh;
	margin-left: 15vh;
	text-align: center;
}

#heading{
	color:#387d74;
	text-align: center;	
}



#third-view{
	height: auto;
	background-color:#d2ece9;
}

.pageLinks{
	
	background-color: white;
	border: 3px solid #387d74;
	width: 35vh;
	color: #387d74;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: 30px;
}

article{
	text-align: center;
	color: #2E3837;
}


.cardreg{
	background-color: white;
	height: 85%;
	padding: 5%;

}

.cardvef{
	background-color: white;
	height: 85%;
	padding: 5%;

}


.box{
	height: 100vh;
	background-image: url("images/opd3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: space-between;
 	padding: 10%;
 }

.team {
 	margin: 20px;
	background: #fff;
	box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}


.container-depts{
	background-image: url("slider/slide3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 300vh;
}

#Laboratory-Department{
	width: 50%;
	height: 100vh;
	margin: auto;
	background-image: url("images/lab6.jpg");
	float: left;

}

#Laboratory-Desctiption{
	
	float: left;
	height: 40%h;
	width: 30%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10%;

}




#departmentChild{
	width: 50%;
	height: 100vh;
	position: absolute;
	background-image: url("images/ch9.jpg");
	float: left;
	left: 50%;
	top: 110vh;


}

#childNote{
	
	float: left;
	height: 50%;
	width: 30%;
	background-color: white;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 110vh;
	margin: 10%;
	
	
	
	
	
}



#departmentDen{
	width: 50%;
	height: 100vh;
	background-image: url("images/den5.jpg");
    position: absolute;
	float: left;
	top: 210vh;

}

#denNote{
	position: absolute;
	float: left;
	left: 50%;
	height: 40%h;
	width: 30%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10%;
	top: 210vh;
}


.depts-description {
	height:45vh;
	width: 65%;
	text-align: center;

}

.emergencyContainer{
	background-image: url("slider/service.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: black;
	height: 100vh;
	display: flex;
 	justify-content: center;
 	align-items: center;

}


	 .emergencyForm {

 	
 	
	background-color: white;
	padding: 5%;
 	width: 50%;
 	height: 60%;

}
																																																																										




.images{
	width: 100%;
	height: 500px;
}

.center {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
																																																																											





footer{
		color: white;
		background-color:#2E3837;
		padding:1.5px; 
		position: relative;
	}

	